/**************************/
/* BORDER RADIUS SYSTEM */
/**************************/

// BOARDER RADIUS (px):
// * Default: 8px
// *  Small: 4px
// *  Medium: 16px
// *  Large: 24px

$border-radius: 8px;
$border-radius-small: 4px;
$border-radius-medium: 16px;
$border-radius-large: 24px;
$border-radius-full: 50%;
