/**************************/
/* COLOR SYSTEM */
/**************************/

//* PRIMARY COLOR
$primary-color: #e8590c;
$primary-color-tint: #ea6a24;
$primary-color-shade: #d1500b;

//* GREY COLOR
$grey-color: #495057;
$grey-color-tint: #6d7379;
$grey-color-shade: #3a4046;

//* WHITE COLOR
$white-color: #fff;

//* BLACK COLOR
$black-color: #000;

//* BACKGROUND THEME
$background-theme: #fff;