/**************************/
/* TYPOGRAPHY SYSTEM */

// - FONT SIZES (px):
//*  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// - FONT  WEIGHTS:
// *   Default: 400
// *   Medium: 500
// *  Semi-bold: 600
// *   Bold: 700

// - LINE HEIGHTS
// *  Default: 1
// *    Tight: 1.2
// *   Medium: 1.5
// *    Loose: 2
/**************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: $grey-color;
  background-color: $background-theme;
  line-height: 1;
  font-size: 1.6rem;
}
